#zaehler
{
    font-size: 50pt;
    position: absolute;
    left: 32%;
    top: 32%;
}
body
{
    height: 100%;
    background-color: black;
}
table
{
    height: 100%
}
td
{
    height: 4pt;
    width: 72pt;
}